body {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  background-color: #e2e8f0;
  padding: 40px;
}

label {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
  font-size: 0.8em;
  font-weight: 400;
  color: #222;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  gap: 12px;
  margin: 0 auto;
}

.container {
  flex-grow: 1;
  margin: 0 20px;
  background-color: #fff;
  border: 1px solid #cbd5e0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  padding: 40px;

  label {
    margin: 10px 0;
  }

  .button {
    margin-top: 10px;
  }
}

input {
  padding: 10px 0;
  border-radius: 0.125rem;
  border: 1px solid rgb(226, 232, 240);
  background-color: #fdfdfe;
  padding-inline-start: 0.75rem;
  font-size: 0.875rem;
}

.button {
  background-color: #319795;
  border-radius: 0.125rem;
  padding: 10px 20px;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.9em;
  &:hover {
    cursor: pointer;
  }

  width: 100%;
}

.wallet {
  display: grid;
  grid-template-rows: min-content min-content min-content 1fr;
  gap: 4em;

  .wallet-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .balance,
    .address {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 0.7em;
      display: inline-flex;
      margin-top: 10px;
      padding: 0.75rem;
      background-color: #f4f6f8;
    }
  }

  .wallet-select {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    background-color: #f4f6f8;
    max-height: 200px;
    overflow-y: auto;

    .wallet-select-item {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: #f4f;
      padding: 0.75rem;
      border-radius: 0.125rem;
      cursor: pointer;

      // radio button

      // hide the radio button
      input[type="radio"] {
        display: none;
      }

      // selected item
      input[type="radio"]:checked + label {
        background-color: #319795;
        color: white;
      }
    }
  }

  .wallet-transactions {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .wallet-transaction-card {
      display: flex;
      flex-direction: column;
      padding: 0.75rem;
      background-color: #f4f6f8;
      border-radius: 0.125rem;
      max-width: 400px;

      font-size: small;
      letter-spacing: 0.05rem;
      font-weight: 400;
      color: #222;

      > p {
        word-wrap: break-word; /* Ensure long words break and wrap */
        white-space: pre-wrap; /* Wrap long lines without collapsing spaces */
      }
    }
  }
}

.transfer {
  .transfer-send-verification {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .buttons {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }
  }
}
